@use 'var';
@use 'hero';
@font-face{
    font-family: Avenir;
    src: url(../../../assets/fonts/Avenir\ Next\ LT\ Pro\ Bold.otf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



body {
    background-color: var.$corDeFundo;
    font-family: Avenir,sans-serif;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: var.$corTextoPrincipal;
}

@mixin title($fontSize: 28px) {
    @include text($fontSize);
    color: var.$corTextoSecundario;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(40px);
}

.title--small {
    @include title(28px);
}

.link-text {
    @include text(18px);
    color: var.$corTextoSecundario;
    text-decoration: underline;
}

